body{
    background-color: #1a1c1d;
    font-family: "Roboto";
    color: #fff;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}
h2{
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
  }
.grid-item {
    background-color: #1b1c1d;
    border: 1px solid #8c8273cc;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    border: 10px solid rgb(255, 165, 48);
    border-radius: 40px;
    background-color: rgb(255, 173, 65);
}
p{
    font-size: 16px;
}
img{
    width: 200px;
    margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
    img{
        width: 100px;
    }
}
@media screen and (max-width: 300px) {
    img{
        width: 75px;
    }
}